@font-face {
  font-family: "TronicaMono";
  src: url("Font/TronicaMono.ttf");
}
@font-face {
  font-family: "Decrypta-regular";
  src: url("Font/Decrypta-Regular.ttf") format("truetype");
}

::selection {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

::-webkit-scrollbar {
  width: 0rem;
}

/* Track */
::-webkit-scrollbar-track {
  background: #ffffff;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #000000; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #000000; 
}

html,
body {
  font-family: "TronicaMono";
  line-height: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000000;
  text-transform: uppercase;
  color: #373737;
  pointer-events: all;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3 {
  color: #ffffff;
  margin: 0;
}

h1 {
  font-size: 1vw;
  letter-spacing: 0rem;
}

h2 {
  font-size: 14px;
  letter-spacing: 0rem;
}

h3 {
  font-size: 14px;
  letter-spacing: 0rem;
}

span,
p,
table, a {
  font-size: 14px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  line-height: 1.4;
  letter-spacing: normal;
  text-decoration: none;

}

span {
  color: #191919;
}

/* ------------------------- HEADER ------------------------- */
/* ------------------------- HEADER ------------------------- */
/* ------------------------- HEADER ------------------------- */

.menu-toggle {
  display: none;
}

.main-header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  height: auto;
  box-sizing: border-box;
  padding: 0.5rem 0.5rem;
  z-index: 1000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  pointer-events: auto;
  z-index: 10000;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 2rem;
}

.logo a {
  color: #ffffff;
  text-decoration: none;
  display: inline-block;
}

/* .logo a:hover {
  background-color: #ffffff;
  color: #000000;
} */

.nav-menu {
  display: flex;
  align-items: center;
}

.nav-menu ul {
  display: flex;
  gap: 1rem;
  margin: 0;
  padding: 0;
  list-style: none;
  flex-direction: row;
}

.nav-menu a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.2rem 0.2rem;
}

.nav-menu a:hover,
.nav-menu a.active {
  background-color: #ffffff;
  color: #000000;
}

/* ------------------------- BUTTON STYLE ------------------------- */
/* ------------------------- BUTTON STYLE ------------------------- */
/* ------------------------- BUTTON STYLE ------------------------- */

.button{
  color: #ffffff;
  text-align: left;
  z-index: 10000000000;
}

.button a:hover{
  background-color: #ffffff;
  color: #000;
}
.button a{
  color: #ffffff;
  text-decoration: none;
}

.alphabet-index {
  color: #ffffff;
  text-align: left;
  z-index: 10000000000;
}

.alphabet-index a:hover{
  color: #000000;
  background-color: #ffffff;
  z-index: 10000000000;
}


/* ------------------------- FILE-PATH ------------------------- */
/* ------------------------- FILE-PATH ------------------------- */
/* ------------------------- FILE-PATH ------------------------- */


.file-path {
  letter-spacing: 0.1rem;
  padding: 0.5rem; /* Aggiungi padding laterale */
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000000;
  z-index: 9999;
  box-sizing: border-box; /* Include padding nella larghezza */
  text-transform: lowercase;
}

.file-path span {
  color: #ffffff;
}

/* ------------------------- MAIN ------------------------- */
/* ------------------------- MAIN ------------------------- */
/* ------------------------- MAIN ------------------------- */

.main-content {
  display: flex;
  flex-direction: column;
  align-items: left;
  text-align: left;
  padding: 4rem 0.5rem;
  flex: 1;
  z-index: 1000;
  gap: 8rem;
  margin: 0;
  width: 100vw;
  max-width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* ASCII Title Scrolling Animation */
@keyframes scrollText {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* ASCII Title Scrolling Animation */
@keyframes scrollTextInvert {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(0%);
  }
}

.m-scroll {
  overflow: hidden;
  width: 100%;
  position: relative;
  margin-top: 8rem;
}

.ascii-title-wrapper {
  display: flex;
  width: 200%; /* Double the width to accommodate the duplicated content */
  overflow: hidden;
}

.ascii-title {
  display: inline-block;
  animation: scrollText 10s steps(18) infinite;
  color: #ffffff;
  font-family: "TronicaMono";
  overflow: hidden;
}


.ascii-subtitle-wrapper {
  display: flex;
  width: 200%; /* Double the width to accommodate the duplicated content */
  white-space: nowrap;
  overflow: hidden;
}

.ascii-subtitle {
  display: inline-block;
  animation: scrollText 10s steps(18) infinite;
  color: #ffffff;
  font-family: "TronicaMono";
  overflow: hidden;
}

.ascii-subtitle-wrapper-invert {
  display: flex;
  width: 200%; /* Double the width to accommodate the duplicated content */
  white-space: nowrap;
  overflow: hidden;
}


.ascii-subtitle-invert {
  display: inline-block;
  animation: scrollTextInvert 10s steps(18) infinite;
  color: #ffffff;
  font-family: "TronicaMono";
  overflow: hidden;
}


.popup.mobile {
  position: fixed !important;
  top: 0 !important;
  left: 0 !important;
  width: 100% !important;
  height: 100% !important;
  margin: 0 !important;
  overflow-y: auto;
  z-index: 10000;
}



.home {
  display: flex;
  flex-direction: row;
  gap: 5%;
}


.intro-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.right-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.graph-container {
  display: flex;
  justify-content: flex-start;
  box-sizing: border-box;
  pointer-events: auto;
}

.chart {
  color: #ffffff;
  font-family: tronicaMono;
  margin: 0;
}





/* Collapsible Table Styles */
.collapsible-table {
width: 100%;
overflow: hidden;
color: #ffffff;
}


/* Table Header */
.table-header {
cursor: pointer; /* Pointer cursor indicates clickability */
display: flex;
justify-content: space-between;
position: relative;
z-index: 2;
background: #000;
font-size: 14px;
}

.table-header:hover {
background-color: #ffffff;
color: #000;
}

/* Table Content */
.table-content {
display: none; /* Hidden by default */
padding: 1rem;
max-width: 100%;
overflow: hidden;
text-overflow: clip;
position: relative;
top: 0;
transition: all 0.4s ease;
}

/* Active Class to Show Content */
.table-content.active {
display: flex;
flex-direction: column;
}


/* Separator Line */
.table-row::before {
    content: "+------------------------------------------------------------------------------------------------------------------------------------------------";
    display: block;
    white-space: nowrap;
    text-overflow: clip;
    overflow: hidden;
    text-align: left;
    color: #ffffff;
    font-family: tronicaMono;
    margin: 0rem 0;
    font-size: 14px;
}

.table-row {
    position: relative;
}

.table-content a {
 cursor: pointer;
}
.table-content a:hover {
  color: #000000;
  background-color: #ffffff;
 }


/* ------------------------- MANIFEST ------------------------- */
/* ------------------------- MANIFEST ------------------------- */
/* ------------------------- MANIFEST ------------------------- */

.manifest {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 0rem; /* spazio tra gli elementi */
  color: #ffffff;
  height: 100%;
  box-sizing: border-box;
  word-wrap: break-word;
  width: 66%;
}

.manifest h1 {
  margin: 0;
}
.manifest p {
  line-height: 1.5; /* aumenta spazio tra le righe */
  z-index: 1000;
}

.manifest br {
  content: "";
  display: block;
  margin: 1rem 0; /* spazio dopo ogni <br> */
}

/* ------------------------- ARCHIVE ------------------------- */
/* ------------------------- ARCHIVE ------------------------- */
/* ------------------------- ARCHIVE ------------------------- */

.archive {
  display: flex;
  justify-content: center; /* centra orizzontalmente */
  align-items: flex-start; /* centra verticalmente */
  height: 100%; /* assicura che prenda tutto lo spazio disponibile */
  width: 100%;
  padding-top: 4rem;
  z-index: 1000;
  cursor: pointer;
}

.archive table {
  width: 100%; /* imposta una larghezza adeguata per la tabella */
  border-collapse: collapse;
  pointer-events: auto;
}

.archive th{
  padding: 0rem 0.5rem 1rem 0.5rem;
  text-align: left;
  font-weight: 100;
  font-size: 14px;
  
}

.archive td {
  padding: 0rem 0.5rem;
  text-align: left;
  font-size: 14px;
}

.archive tbody tr:hover {
  background-color: #ffffff;
  color: #000000;
}

.main-content-archive {
  flex: 1; /* occupa tutto lo spazio disponibile */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* allinea il contenuto in basso */
  padding: 0;
  flex: 1;
  padding-bottom: 2rem;
}

/* ------------------------- ARCHIVE POPUP ------------------------- */
/* ------------------------- ARCHIVE POPUP ------------------------- */
/* ------------------------- ARCHIVE POPUP ------------------------- */

.popup {
  position: absolute;
  width: 35%;
  height: 35%;
  background: rgb(0, 0, 0);
  z-index: 10000;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 20px rgba(0, 0, 0, 1);
  border: 2px solid #ffffff;
}

.popup-header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  cursor: move;
}

.popup-content {
  flex: 1;
  overflow-y: auto;
  word-wrap: break-word; /* Permette al testo di andare a capo */
  overflow-wrap: break-word; /* Compatibilità aggiuntiva per il wrapping */
  display: flex;
  flex-direction: column; /* Disposizione verticale */
}

.close-button {
  background: none;
  border: none;
  color: #ffffff;
  cursor: pointer;
  font-family: "TronicaMono";
  padding: 0;
}

/* _______________________________ */

/* Stili per il contenuto del popup */
.popup-content {
    color: #ffffff; /* Testo bianco per contrasto */
    padding: 0.5rem;
    word-wrap: break-word; /* Permette al testo di andare a capo */
    overflow-wrap: break-word; /* Compatibilità aggiuntiva per il wrapping */
    display: flex;
    flex-direction: column; /* Disposizione verticale */
    gap: 1rem; /* Spazio tra i paragrafi */
}

/* Stili per il testo principale */
.code-text p {
    margin: 0.5rem 0;
    word-break: break-word; /* Forza il break delle parole lunghe */
    font-family: "Decrypta-regular";
    font-size: 14px;
    line-height: 1.5;
    letter-spacing: 0.5rem;
}

/* Stili per il testo allineato a destra */
.alphabet-index {
    text-align: right; /* Allinea il testo a destra */
    margin-top: 0.5rem; /* Spazio sopra */
    font-size: 14px;
    color: #ffffff; /* Colore del testo */
}

/* Stili per il blocco di testo aggiuntivo */
.translated-text {
    bottom: 0;
    margin-top: auto; /* Spinge translated-text in fondo */
    width: 75%;
    line-height: normal;
}

.translated-text h3 {
    margin-bottom: 0.5rem;
}

.translated-text p {
    margin: 0;
}


/* ------------------------- DECRYPTA ------------------------- */
/* ------------------------- DECRYPTA ------------------------- */
/* ------------------------- DECRYPTA ------------------------- */


.decrypta-text {
  text-align: left;
  line-height: 1.4;
  width: 50%;
  z-index: 1000;
}

.svg-table {
  width: 75%;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(60px, 1fr)
  ); /* layout reattivo */
  gap: 1rem;
  z-index: 1000;
}

.svg-table div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-table img {
  max-width: 100%;
  height: auto;
}


.decrypta-file-container {
  display: flex;
  flex-direction: row;
}

.decrypta-file {
  text-align: left; /* Allinea il testo a destra */
  margin-top: 0.5rem; /* Spazio sopra */
  font-size: 14px;
  color: #ffffff; /* Colore del testo */
}







pre {
  position: fixed;
  margin:0;
  padding:0;
  left:0;
  top:0;
  width:100vw;
  height:100vw;
  font-family: 'TronicaMono', monospace;
  z-index: 0;
}





/* ------------------------- POPUP RANDOM ------------------------- */
/* ------------------------- POPUP RANDOM ------------------------- */
/* ------------------------- POPUP RANDOM ------------------------- */

@keyframes flash {
     0%, 100% { background: rgb(0, 0, 0); }
    2%, 4%, 6%, 8%, 10% { background: rgb(255, 255, 255); }
    1%, 3%, 5%, 7%, 9% { background: rgb(0, 0, 0); }
    11%, 50% { background: rgb(0, 0, 0); } /* Pause period */
}

#random-popup {
    position: fixed;
    width: 25%;
    height: 25%;
    background: rgb(0, 0, 0);
    border: 1.5px solid #ffffff;
    z-index: 1000000;
    animation: flash 5s infinite;
}

/* Add inverted text color during white background */
#random-popup span,
#random-popup .counter,
#random-popup p {
    mix-blend-mode: difference;
}

#random-popup {
    position: fixed;
    width: 25%;
    height: 25%;
    bottom: 0;
    right: 0;
    background: rgb(0, 0, 0);
    border: 1.5px solid #ffffff;
    z-index: 1000000;
}

.popup-header span {
  color: #ffffff;
}

.popup-header {
  height: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

/* Counter Animation */
.counter {
    color: #ffffff;
    font-family: 'TronicaMono', monospace;
    width: 100%;
}






