@font-face {
  font-family: "TronicaMono";
  src: url("Font/TronicaMono.ttf") format("truetype");
}
@font-face {
  font-family: "nsa-encrypted";
  src: url("Font/nsa-encrypted.ttf") format("truetype");
}

::selection {
  color: rgb(0, 0, 0);
  background: rgb(255, 255, 255);
}

html,
body {
  font-family: "TronicaMono";
  line-height: 1;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #000000;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}

h1,
h2,
h3 {
  color: #ffffff;
  margin: 0;
}

h1 {
  font-size: 24px;
  letter-spacing: 0.5rem;
}

h2 {
  font-size: 18px;
  letter-spacing: 0.3rem;
}

h3 {
  font-size: 12px;
  letter-spacing: 0.3rem;
}

span,
p,
table {
  font-size: 14px;
  color: #ffffff;
}

/* ------------------------- HEADER ------------------------- */
/* ------------------------- HEADER ------------------------- */
/* ------------------------- HEADER ------------------------- */

.main-header {
  display: flex;
  align-items: center;
  padding: 1rem 2rem;
  list-style: none;
}

.logo {
  flex: 0 0 auto;
}

.logo a {
  color: #ffffff;
  text-decoration: none;
  font-size: 24px;
  padding: 0.5rem 0.5rem;
  display: inline-block;
}

/* .logo a:hover {
  background-color: #ffffff;
  color: #000000;
} */

.spazio {
  color: transparent;
  font-size: 24px;
}

.nav-menu {
  flex: 1; /* prende tutto lo spazio rimanente */
  display: flex;
  justify-content: center;
}

.nav-menu ul {
  display: flex;
  gap: 4rem;
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu a {
  color: #ffffff;
  text-decoration: none;
  padding: 0.2rem 0.2rem;
}

.nav-menu a:hover {
  background-color: #ffffff;
  color: #000000;
}

.file-path {
  color: #ffffff;
  letter-spacing: 0.1rem;
  padding: 1rem 2.5rem; /* Aggiungi padding laterale */
  position: sticky;
  top: 0;
  width: 100%;
  background-color: #000000;
  z-index: 1000;
  box-sizing: border-box; /* Include padding nella larghezza */
}

.file-path span {
  opacity: 0.7; /* per un effetto più sottile */
}

/* ------------------------- HOME ------------------------- */
/* ------------------------- HOME ------------------------- */
/* ------------------------- HOME ------------------------- */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4rem 2rem;
  gap: 1rem; /* spazio tra gli elementi */
  height: 80vh;
  color: #ffffff;
  justify-content: center;
}

.home h1 {
  margin: 2rem 0 0 0;
}

.home h2 {
  font-size: 18px;
  letter-spacing: 0.3rem;
}

/* ------------------------- MANIFEST ------------------------- */
/* ------------------------- MANIFEST ------------------------- */
/* ------------------------- MANIFEST ------------------------- */

.manifest {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 8rem 16rem 8rem 16rem;
  gap: 1rem; /* spazio tra gli elementi */
  height: 80vh;
  color: #ffffff;
}

.manifest h1 {
  margin: 0;
}
.manifest p {
  opacity: 0.7;
  line-height: 2; /* aumenta spazio tra le righe */
}

/* ------------------------- ARCHIVE ------------------------- */
/* ------------------------- ARCHIVE ------------------------- */
/* ------------------------- ARCHIVE ------------------------- */

.archive {
  display: flex;
  justify-content: center; /* centra orizzontalmente */
  align-items: center; /* centra verticalmente */
  height: 100%; /* assicura che prenda tutto lo spazio disponibile */
  width: 100%;
  padding-top: 0rem;
}

.archive table {
  width: 100%; /* imposta una larghezza adeguata per la tabella */
  border-collapse: collapse;
  margin: 2rem 0rem 0rem 0rem;
  text-transform: uppercase;
}

.archive th,
.archive td {
  padding: 0.5rem 2.5rem;
  text-align: left;
  border-bottom: 0.5px solid #ffffff;
}

.archive tbody tr:hover {
  background-color: #ffffff;
  color: #000000;
}

.main-content {
  flex: 1; /* occupa tutto lo spazio disponibile */
  display: flex;
  flex-direction: column;
  justify-content: flex-end; /* allinea il contenuto in basso */
  padding: 0;
}

/* ------------------------- ARCHIVE PAGE ------------------------- */
/* ------------------------- ARCHIVE PAGE ------------------------- */
/* ------------------------- ARCHIVE PAGE ------------------------- */

.selected-row {
  width: 100%;
  margin: 2rem 0;
}

.selected-row table {
  width: 100%;
  border-collapse: collapse;
  font-family: "TronicaMono";
  color: #ffffff;
}

.selected-row th,
.selected-row td {
  padding: 0.5rem 2.5rem;
  text-align: left;
  border-bottom: 1px solid #ffffff;
}

.main-content-archive-page {
  width: 100%;
  padding: 2.5rem;
  box-sizing: border-box;
}

.main-content-archive-page h1 {
  font-family: nsa-encrypted;
  font-size: 18px;
  line-height: 35px;
  width: 75%;
  display: flex;
  justify-content: center;
  margin: 0rem 0rem 2.5rem 0rem;
}

.columns {
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
}

.column {
  width: 48%;
  color: #ffffff;
  line-height: 1.2rem;
}

/* ------------------------- DECRYPTA ------------------------- */
/* ------------------------- DECRYPTA ------------------------- */
/* ------------------------- DECRYPTA ------------------------- */

.main-content-decrypta {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  padding: 8rem;
  flex: 1; /* occupa tutto lo spazio disponibile */
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}

.main-image {
  max-width: 70%;
  height: auto;
}

.center-title {
  padding: 2rem 0;
}

.small-images {
  display: flex;
  gap: 1rem;
  justify-content: space-between; /* allinea le immagini agli estremi */
  width: 100%; /* assicura che il contenitore prenda tutta la larghezza disponibile */
  padding: 2rem 0;
}

.small-image {
  max-width: 45%;
  min-width: 200px; /* imposta una larghezza minima */
  height: auto;
}

.center-text {
  text-align: center;
  line-height: 1.5;
}

.svg-table {
  width: 100%;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(100px, 1fr)
  ); /* layout reattivo */
  gap: 1rem;
}

.svg-table div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.svg-table img {
  max-width: 100%;
  height: auto;
}
